
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$bg-default: #ef6c00;
$bg-x1: #f57c00;
$bg-x2: #fb8c00;
$bg-darken: #e65100;

.solid{
	font-weight:700;
}

.Error{
	font-size:12px;
	color:red;
}

.hidden{
	display:none;
}