.swal-modal{
	
	.swal-icon--success__line{
		background-color:$bg-x1;
	}

	.swal-icon--success__ring{
		border:4px solid hsl(28, 73%, 53%);
	}

	.swal-button--confirm{
		background-color:$bg-x1;
	}
}

.loader{
	background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1022;
    text-align: center;

    .lds-css{
    	position: fixed;
	    top: 35vh;
	    left: 43%;
    }

    @keyframes lds-ripple {
	  0% {
	    top: 90px;
	    left: 90px;
	    width: 0;
	    height: 0;
	    opacity: 1;
	  }
	  100% {
	    top: 15px;
	    left: 15px;
	    width: 150px;
	    height: 150px;
	    opacity: 0;
	  }
	}
	@-webkit-keyframes lds-ripple {
	  0% {
	    top: 90px;
	    left: 90px;
	    width: 0;
	    height: 0;
	    opacity: 1;
	  }
	  100% {
	    top: 15px;
	    left: 15px;
	    width: 150px;
	    height: 150px;
	    opacity: 0;
	  }
	}
	.lds-ripple {
	  position: relative;
	}
	.lds-ripple div {
	  box-sizing: content-box;
	  position: absolute;
	  border-width: 10px;
	  border-style: solid;
	  opacity: 1;
	  border-radius: 50%;
	  -webkit-animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	  animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	.lds-ripple div:nth-child(1) {
	  border-color: #f57c00;
	}
	.lds-ripple div:nth-child(2) {
	  border-color: #f57c00;
	  -webkit-animation-delay: -0.65s;
	  animation-delay: -0.65s;
	}
	.lds-ripple {
	  width: 200px !important;
	  height: 200px !important;
	  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
	  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
	}
}